misot.morphic.db.host
misot.morphic.db.port
misot.morphic.db.user
misot.morphic.db.password
misot.morphic.db.dbname
misot.intelligence.db.host
misot.intelligence.db.port
misot.intelligence.db.user
misot.intelligence.db.password
misot.intelligence.db.dbname