; Комментарии начинаются с ';', как в php.ini

MODE = DEVELOP

[DEVELOP]
semantic.db.host = test-db.mivar.pro
semantic.db.port = 5432
semantic.db.user = postgres
semantic.db.password = @Mivar123User@
semantic.db.dbname = mivar_semantic_new



[PRODUCTION : DEVELOP]